.loginForm {
    /* background-color: lightgreen; */
    padding: 100px 0;
    justify-content: center;
    
}

.css-binzgt{  
    width: 500px; /* Set the desired width */
    height: 300px; /* Set the desired height */    
}

TextField{
    margin-bottom: 20px;
    height: 100px;
}





