.headet-text {
    padding: 50px;
}

.headet-text h1 {
    font-size: 60px;
    color: rgb(62, 62, 189);
}

.headet-text p {
    font-size: 40px;
}

.headet-text button {
    border-radius: 30px;
    background-color: rgb(58, 95, 175);
    font-weight: bolder;
    color: white;
    height: 50px;
}

.headet-text button :hover {
    color: black;
}

.vl {
    border-left: 6px solid black;
    height: 50px;
}

.donation-section,
.about-section,
.contact-section {
    background-color: #08639c;
    text-align: center;
}

.donation-section h1,
.about-section h1,
.contact-section h1 {
    font-size: 40px;
    color: white;
}

.donation-cont {
    background-color: lightgreen;
    height: 400px;
}

.donation-cont h3 {
    font-size: 50px;
    color: #08179c;
    padding: 80px 0px 80px 80px;
}

.card-donation {
    padding: 50px;
}

.card-donation p {
    font-size: 30px;

}

.contact-section {
    height: 400px;
}

.caption-line-0 {
    font-size: 58px;
    font-weight: bolder;
    line-height: 1.5;
    position: absolute;
    bottom: 70%;
    left: 4%;
    padding: 10px;
    color: #003580;
}

.caption-line-1 {
    font-size: 58px;
    font-weight: bolder;
    line-height: 1.5;
    position: absolute;
    bottom: 60%;
    left: 4%;
    padding: 10px;
    color: #003580;
}

.caption-line-2 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: bolder;
    position: absolute;
    bottom: 45%;
    left: 4%;
    padding: 10px;
    color: black;
}

.caption-line-3 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: bolder;
    position: absolute;
    bottom: 40%;
    left: 4%;
    padding: 10px;
    color: black;
}

.caption-line-4 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: bolder;
    position: absolute;
    bottom: 35%;
    left: 4%;
    padding: 10px;
    color: black;
}

.caption-line-5 {
    font-size: 25px;
    line-height: 1.5;
    font-weight: bolder;
    position: absolute;
    bottom: 30%;
    left: 4%;
    padding: 10px;
    color: black;
}

.horizontal-line {
    height: 7px;
    width: 10%;
    background-color: #092b5c;
    margin-left: 18%;
}

.horizontal-line-donate {
    height: 7px;
    width: 4%;
    background-color: #092b5c;
    margin-left: 48%;
}

.donate-btn{
    margin-right: 10px;
    margin-top: 30px;
    color: brown;
    border: 1px solid brown;
}

.donate-btn-vac{
    margin-right: 50px;
    margin-top: 50px;
    width: 20%;
    height: 50px;
    color: #1976d2;
    border: 1px solid #1976d2;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    }
    
     
    
    button.learn-more {
    width: 12rem;
    height: auto;
    margin-right: 30px;
    }
    
     
    
    button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #39409e;
    border-radius: 1.625rem;
    }
    
     
    
    button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    }
    
     
    
    button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
    }
    
     
    
    button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
    }
    
     
    
    button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #3641d3;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    }
    
     
    
    button:hover .circle {
    width: 100%;
    }
    
     
    
    button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
    }
    
     
    
    button:hover .button-text {
    color: #fff;
    }