.footer{
    background-color: #EAF0FC;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    bottom: 0;
    width: 100%;
    position: fixed;
    margin-top: 50px !important;
}